.container {
  display: flex;
  flex-direction: row;
}
.wrapper {
  display: flex;
  flex-direction: row;
}
.box {
  width: 100px;
  height: 100px;
}
.colora {
  background-color: blueviolet;
}
.colorb {
  background-color: rgb(179, 235, 48);
}
.colorc {
  background-color: rgb(32, 230, 237);
}
.colord {
  background-color: rgb(15, 130, 238);
}
.colore {
  background-color: rgb(36, 233, 137);
}
.colorf {
  background-color: rgb(248, 25, 207);
}
.colorg {
  background-color: rgb(238, 123, 123);
}
.colorh {
  background-color: rgb(246, 112, 50);
}
@media screen and (max-width: 1024px) {
  .wrapper {
    flex-direction: column;
  }
}
@media screen and (max-width: 768px) {
  .container {
    flex-direction: column;
  }
}
