.container {
  display: flex;
  flex-direction: column;
}
.up {
  display: flex;
  flex-direction: row;
}
.down {
  display: flex;
  flex-direction: row;
}
.box {
  width: 300px;
  height: 300px;
}
.pink {
  background-color: pink;
}
.skyblue {
  background-color: skyblue;
}
.orange {
  background-color: orange;
}
.lemon {
  background-color: lemonchiffon;
}

.move {
  /*position-top,left,bottom,right
 relative는 상대적(지금위치에서 움직임) */
  position: relative;
  top: 100px;
  left: 300px;
}
.movetwo {
  position: relative;
  bottom: 300px;
  left: 300px;
}

.move2 {
  /*절대적(크롬 브라우저 기준)*/
  position: absolute;
  top: 10px;
  left: 10px;
}
body {
  height: 300vh;
}
.move3 {
  /*고정적*/
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 2; /*숫자가 크면 클수록 우선순위를 먹음
  예로 다른색이 3으로 z축을 넣어놓으면 그게 더 위에 나옴*/
}

.test {
  position: relative;
  top: 100px;
  left: 100px;
}
.test1 {
  /*absolute (단, 자기 조상/부모가 position 없어야 됨)
    부모가 position 있으면 그걸로 절대 기준으로 바뀜*/
  position: absolute;
  top: 10px;
  left: 10px;
}
