.box {
  display: flex;
  flex-direction: row;
}
.boxtwo {
  width: 100px;
  height: 100px;
}
.a {
  background-color: #55efc4;
}

.b {
  background-color: #81ecec;
}

.c {
  background-color: #74b9ff;
}
